/*body { background: url('/assets/bc_logo.png') white no-repeat; }*/

h2 { margin-bottom:0.7em; }

.btcColours { background-color: #f7931a; color:white; }
.btcColoursRev { background-color: white; color:#f49542; }

div.header { padding:0.5em; padding-left: 0em;}
div.footer { 
  margin-top:1em;
  padding: 1.5%;
  margin-top: 1em;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.touch-button {
  padding: 3%;
  box-shadow: 0px 0px 3px 1px gray;
  border-radius: 2%;
  display:block;
  text-decoration: none;
}

a.touch-button:hover {
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px orange;
}

#message {

  position: fixed;
  width:80%;
  text-align:center;
  margin:0 auto;
  padding:1em;
  top:4%;
  left:10%;

} 