body { 
  background: #000000; 
  font-family: 'Share Tech Mono','Roboto Mono', monospace;
  color:#00ff00;
  margin-left:0.5em;
  overflow:hidden;
  font-size: 1.5vw;
}

a {
  color:#00ff00;
}

a:hover {
  color:#00ff00;
}

p{
  padding-top:0.7em;
}

h2 { 
  margin-bottom:0.7em; 
}


.btcColours { background-color: #f7931a; color:white; }
.btcColoursRev { background-color: white; color:#f49542; }

.title a{
  color: #00ff00;
}

.input{
  background: #00ff00; 
  color: #000000;
}

.input_n{
  color: #ff0000;
}
.input_p{
  color: #00ff00;
}
.input_u{
 text-decoration: underline;
}

div.header { padding:0.5em; padding-left: 0em;}

div.footer { 

}

.touch-button {
  padding: 3%;
  box-shadow: 0px 0px 3px 1px #00ff00;
  border-radius: 2%;
  display: inline-block;
  text-decoration: none;
}

a.touch-button:hover {
  cursor: pointer;
}
#status{
  background-color:rgb(0, 255, 0);
}
#message {
  position: fixed;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  top: 4%;
  left: 10%;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px 1px #666;
  font-size: 2vw;
} 

