{% extends "index.html" %}
{% block content %}

<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-10">
    <p style="font-size:130%;"><span class="input">Vote for Future Supply</span></p>
    <p>Best matches for coffee orders on <span id="date" class="input"></span><br/>
    Your vote will influence the next supply</p>
    Choose option

    {% if message %}<p>{{ message }}</p>{% endif %}
    
    {% for key,offer in offers %}
      {% if ((loop.index0%2)==0) %}<div class="row">{% endif %}
        <div class="col-sm-5">
          <a class="touch-button" href="/serve/{{ key }}">
          <span class="input">{{ offer["name"] }}</span><br/>
          <span class="input_u">Match: {{ offer["match"] }}</span><br/>
          </a>
        </div>
      {% if ((loop.index0%2)!=0) %}</div>{% endif %}
    {% else %}
      <div class="col-sm-5"><em>No offers available</em></div>
    {% endfor %}

  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var timeoot = 0;

  function poll() { 
    setTimeout(function() {
      $.ajax({ 
        url: "{{ state_url }}", 
        success: stateCallback, 
        complete: function(){ timeoot = 6000; poll(); } 
      });
    }, timeoot);
  }

  poll();
   
  var d = new Date;
  $('#date').text(d.toLocaleString().substring(0,13));

});
</script>
{% endblock %}
