{% extends "index.html" %}
{% block content %}
<div id="message">{{ message }}</div>

<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-10">

    <p>
      <span class="input">Claim your payment!</span>
      <small style="margin-left:0.5em;"><a class="btn btn-success" href="/">Done</a></small>
    </p>
    
    <br/>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="touch-button" style="">

          <div class="row">
            <div class="col-sm-6">
              <div id="qrcode" style="float:left; margin-right:3%;"></div>
              <p style="font-size:2vw;">Step 1: Get your smartphone to display a QR code with <i>your</i> bitcoin address!</p>
              <p style="font-size:2vw;">Step 2: Hold it under the camera on the right.</p>
            </div>

            <div class="col-sm-6">
              <p style="font-size:1.8vw;">PICTURE</p><br/><br/>
              <div style="clear:both;"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){

  setTimeout(function(){ $('#message').fadeOut(); },2599);

  var attempts = 0;

  function poll() {
    setTimeout(function() {
      $.ajax({ url: "http://localhost:5000/qr/",
        success: function(data) { 
          attempts++;
          if (attempts >= 50){ //give up!
            window.location.replace("http://localhost:5000/");
          } else if (data.success) {
            //window.location.replace("http://localhost:5000/serve/{{ offer }}");
            console.log(data);
          }
        },
        dataType: "json",
        complete: poll
      });
    }, 1500);
  }

  poll();
});
</script>
{% endblock %}
</div>
