{% extends "index.html" %}
{% block content %}
<div id="message">{{ message }}</div>

<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-10">
    <h2>Would you like to claim Bitcoin or a free coffee?</h2>
    
    <div class="row" id="claim-choice">
      <div class="col-sm-3">
        <a id="btc-claim" class="touch-button" href="/payout/{{ amount }}" style="">
          Claim BTC
        </a>
      </div>

      <div class="col-sm-3">
        <a id="coffee-claim" class="touch-button" href="/choice" style="">
          Claim Coffee
        </a>
      </div>

      <div class="col-sm-3">
        <a id="btc-claim" class="touch-button" href="/" style="">
          Skip
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){

  setTimeout(function(){ 
    $('#message').fadeOut();
  }, 2599);

});
</script>
{% endblock %}
</div>
