{% extends "index.html" %}
{% block content %}

<div>
  <p>Oh uh, something went wrong!</p>
  <p>If the top lights are flashing one after the other, please turn the steam knob to close it.</p>
  <a class="touch-button" href="/"><span>Return to start</span></a>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var timeoot = 0;

  function poll() { 
    setTimeout(function() {
      $.ajax({ 
        url: "{{ state_url }}", 
        success: function(data){ 
          stateCallback(data);
          if (data.overall == 'ready'){ window.location.replace("http://localhost:5000/"); }
        },
        complete: function(){ timeoot = 6000; poll(); } 
      });
    }, timeoot);
  }

  poll();
});
</script>
{% endblock %}
