<p>Currently serving top matched coffee for:</p>
<h1><span class="input">Best Quality (Guatemala Bourbon)</span></h1>
<p>Coffee supplied by <span class="input_u">Sierra Morena Farm</span>, 
harvested on <span class="input_u">Oct 2017</span> purchased at <span class="input">&#163;17.00</span>/kg - price change in relation to: previous year <span class="input_u">-0.17%</span>, previous month <span class="input_u">+0.001%</span>  
</p>
<p>
Supply purchased on <span class="input_u">7 Nov 2017</span>. <span class="input">207</span> previous BitBarista customers voted for the highest rated coffee in terms of <span class="input_u">Best Price</span> 
</p>
