{% extends "index.html" %}
{% block content %}

<div class="row" id="offers">
  <!-- <div id="led" style="height:20px; width:20px; background-color:red; border:1px solid gray; border-radius:15px;">
  </div>-->
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <p>
      Currently serving
      <span class="input">Vietnam Blend Robusta Medium Roast</span>
      coffee supplied by 
      <span class="input_u">Trung Nguyen Coffees</span>
      harvested on 
      <span class="input_u">Feb 2015</span>
      purchased at 
      <span class="input">£2.33</span>/pound - 
      price change in relation to: previous year <span class="input_u">-0.34%</span>, previous month <span class="input_u">+0.001%</span>  
    </p>
    <p>
      Supply purchased on <span class="input_u">10 Mar 2016</span>. Paid for by <span class="input">1209</span> previous BitBarista customers, who chose the highest rated in terms of <span class="input_u">Price</span>
    </p>
      <!--<a class="touch-button" href="/start" style="">-->
      <a class="touch-button" href="/table" style="">
      <span>[[ BUY COFFEE ]]</span>
      </a>
    </div>
  </div>

</div>

<div id="issues">
  <p id="issue-message"></p>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var timeoot = 0;

  function poll() { 
    setTimeout(function() {
      $.ajax({ 
        url: "{{ state_url }}", 
        success: stateCallback, 
        complete: function(){ timeoot = 6000; poll(); } 
      });
    }, timeoot);
  }

  poll();
});
</script>
{% endblock %}
