{% extends "index.html" %}
{% block content %}

<div class="row" id="offers">
  <!-- <div id="led" style="height:20px; width:20px; background-color:red; border:1px solid gray; border-radius:15px;">
  </div>-->
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      {{ home_blurb | safe }}
      <a class="touch-button" href="/table" style="">
      <span>[[ BUY COFFEE ]]</span>
      </a>
    </div>
  </div>

</div>

<div id="issues">
  <p id="issue-message"></p>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var timeoot = 0;

  function poll() { 
    setTimeout(function() {
      $.ajax({ 
        url: "{{ state_url }}", 
        success: stateCallback, 
        complete: function(){ timeoot = 6000; poll(); } 
      });
    }, timeoot);
  }

  poll();
});
</script>
{% endblock %}
