<h1>Currently serving <span class="input">Best Quality</span></h1>
<p><b>Brazil Catuai</b>: coffee supplied by <span class="input_u">Sitio Nossa do Senhora Farm</span>, 
harvested on <span class="input_u">Sept 2017</span> purchased at <span class="input">&#163;20.50</span>/kg - price change in relation to: previous year <span class="input_u">-0.33%</span>, previous month <span class="input_u">+0.001%</span>  
</p>
<p>
Supply purchased on <span class="input_u">7 Oct 2017</span>. <span class="input">30</span> previous BitBarista customers voted for the highest rated coffee in terms of <span class="input_u">Best Quality</span> 
</p>
