<h1>Currently serving <span class="input">Columbian Caturra and Castillo</span></h1>
<p>
Coffee supplied by <span class="input_u">Ignacio Quintero Farm</span>, 
harvested on <span class="input_u">May 2017</span> purchased at <span class="input">&#163;20.50</span>/kg - price change in relation to: previous year <span class="input_u">-0.33%</span>, previous month <span class="input_u">+0.001%</span>  
</p>
<p>
Supply purchased on <span class="input_u">17 July 2017</span>. <span class="input">30</span> previous BitBarista customers voted for the highest rated coffee in terms of <span class="input_u">low environmental impact</span> 
</p>
<p> Columbian Caturra and Castillo from Ignacio Quintero Farm has now replaced the Brazilian Catuai from Sitionossa Farm in the category of low environmental impact
</p>