<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../assets/bootstrap.min.css" rel="stylesheet">
<link href="../assets/bootstrap-theme.min.css" rel="stylesheet">
<link href="../assets/bootstrap-responsive.min.css" rel="stylesheet">
<link href="../assets/bitbarista.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Mono|Roboto+Mono:300,400|Share+Tech+Mono" rel="stylesheet">

<title>
  BitBarista
</title>
</head>
<body>

   <div class="header">
  &#42;&#42;&#42;&#42;&#42;&#42;<span class="title"> <a href="/">BitBarista</a> </span>&#42;&#42;&#42;&#42;&#42;&#42;<br/>
  <p>
    Currently serving
    <span class="input">Vietnam Blend Robusta Medium Roast</span>
    coffee supplied by 
    <span class="input_u">Trung Nguyen Coffees</span>
    harvested on 
    <span class="input_u">Feb 2015</span>
    purchased at 
    <span class="input">£2.33</span>/pound - 
    price change in relation to: previous year <span class="input_u">-0.34%</span>, previous month <span class="input_u">+0.001%</span>  
  </p>
  <p>
    Supply purchased on <span class="input_u">10 Mar 2016</span>. Paid for by <span class="input">209</span> previous BitBarista customers, who chose the highest rated in terms of <span class="input_u">Price</span>
  </p>
  <p>
    &#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;
  </p>
  </div>

  <div style="clear:both;"></div> 

  {% block content %}{% endblock %}
  
  <br/><br/>
  <div class="footer btcColours">
  </div>

  <script type="text/javascript" src="/assets/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/assets/qr.min.js"></script> <!-- http://neocotic.com/qr.js/ -->
  <script type="text/javascript" src="/assets/bootstrap.min.js"></script>

  {% block javascript %}{% endblock %}

</body>
</html>
