<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/assets/bootstrap.min.css" rel="stylesheet">
<link href="/assets/bootstrap-theme.min.css" rel="stylesheet">
<link href="/assets/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/assets/bitbarista.css" rel="stylesheet">

<title>BitBarista</title>
</head>
<body>
  <div class="header btcColours">
    <img src="/assets/bc_logo.png" style="width:10%; margin:0.4em; float:left"></img>
    <h1>BitBarista</h1>
  </div>
  
  <div style="clear:both;"></div>

  {% block content %}{% endblock %}
  
  <div class="footer btcColours">
  </div>

  <script type="text/javascript" src="/assets/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/assets/qr.min.js"></script> <!-- http://neocotic.com/qr.js/ -->
  <script type="text/javascript" src="/assets/bootstrap.min.js"></script>

  {% block javascript %}{% endblock %}

</body>
</html>