<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../assets/bootstrap.min.css" rel="stylesheet">
<link href="../assets/bootstrap-theme.min.css" rel="stylesheet">
<link href="../assets/bootstrap-responsive.min.css" rel="stylesheet">
<link href="../assets/bitbarista.css" rel="stylesheet">
<script type="text/javascript" src="../assets/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="../assets/bitbarista.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Mono|Roboto+Mono:300,400|Share+Tech+Mono" rel="stylesheet">

<title>
  BitBarista
</title>
</head>
<body>

   <div class="header">
  &#42;&#42;&#42;&#42;&#42;&#42;<span class="title"> <a href="/">BitBarista</a> </span>&#42;&#42;&#42;&#42;&#42;&#42;<br/>
  </div>

  <div style="clear:both;"></div> 

  {% block content %}{% endblock %}
  
  <br/><br/>
  <!--<div class="footer"></div>-->

  <script type="text/javascript" src="/assets/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/assets/qr.min.js"></script> <!-- http://neocotic.com/qr.js/ -->
  <script type="text/javascript" src="/assets/bootstrap.min.js"></script>

  {% block javascript %}{% endblock %}

</body>
</html>
