{% extends "index.html" %}
{% block content %}
<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-10">
    <h2>Sorry, there are no beans left</h2>
    <p>Please refill beans to continue</p>

    <div class="row">
      <div class="col-sm-6">
        <div class="touch-button">
        <img src="/assets/refill.png" style="height:280px;">
        <div style="clear:both;"></div>
        </div>
      </div>

      <div class="col-sm-6">
        <a class="touch-button" href="/choice?reason=refill">
          Once refilling is done, press here for a free coffee!
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
