{% extends "index.html" %}
{% block content %}
<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-10">
    <h2>Out of beans</h2>
    
    <br/>

    <div class="row">
      <div class="col-sm-6">
        <div class="touch-button">
        <img src="/assets/watertank.png" style="width:100%; height:auto;">
        <div style="clear:both;"></div>
        </div>
      </div>

      <div class="col-sm-6">
        <a class="touch-button" href="/choice">
          Once refilling is done, press here for a free coffee!
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
