{% extends "index.html" %}
{% block content %}

<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-10">
    <h2>On offer today...</h2>
    <br/>
    <!-- <div id="led" style="height:20px; width:20px; background-color:red; border:1px solid gray; border-radius:15px;">
    </div>-->

    <div class="row">
      <div class="col-sm-6">
        <a class="touch-button" href="/sale/single" style="">
        <img src="/assets/espresso.jpeg" style="height:8.9em; width:auto;"></img>
        Single ({{ offers["single"] }} BTC)
        </a>
      </div>

      <div class="col-sm-6">
        <a class="touch-button" href="/sale/double" style="">
        <img src="/assets/espresso.jpeg" style="height:8.9em; width:auto;"></img>
        Double ({{ offers["double"] }} BTC)
        </a>
      </div>

      <div class="col-sm-6">
        <a class="touch-button" href="/sale/kenyan" style="">
        <img src="/assets/espresso.jpeg" style="height:8.9em; width:auto;"></img>
        Kenyan ({{ offers["kenyan"] }} BTC)
        </a>
      </div>

    </div>

  </div>
</div>

<div class="row" id="issues">
  <div class="col-sm-offset-1 col-sm-10">
    <h2>Oh, it looks like I could do with some help!</h2>

    <div class="row">
      <div class="col-sm-6">
        <div class="touch-button" style="">
          <p id="issue-message"></p>
        </div>
      </div>

      <div class="col-sm-6">
        <a href="/help" class="touch-button" style="">
          Check troubleshooting manual
        </a>
      </div>
    </div>


  </div>
</div>

{% endblock %}

{% block javascript %}
<script>

$(document).ready(function(){
  //$('#issues').hide();

  var timeoot = 0;
  function poll() { 
    setTimeout(function() {
      $.ajax({ url: "{{ state_url }}",
        success: function(data) { 
          timeoot = 6000;
          
          $('#issue-message').html('');

          if (data.overall == 'ready'){
            $('#offers').show();
            $('#issues').hide();
          }
          else if (data.overall == 'water') {
            window.location.replace("http://localhost:5000/water_request/");
          } else {
            $('#issues').show();
            $('#offers').hide();
            $('#issue-message').append(data.message);            
          }
        }, 
        dataType: "json",
        complete: poll
      });
    }, timeoot);
  }

  poll();
});
</script>
{% endblock %}
