{% extends "index.html" %}
{% block content %}


<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-10">

    <p>Ready to serve!</p>
    
    <div class="row">
      <div class="col-sm-10">

        <div class="touch-button">

          <div class="row">
            <div class="col-sm-6">
              <!--<img src="/assets/espresso.jpeg" style="margin:0 auto; display:block; max-width:200px; min-width:80px; width:70%; height:auto;"></img>-->
              <p><span class="input">1 Vietnam Blend Robusta Medium Roast</span></p>
              <p> Signing up to future supply of {{ offer }} coffee </p>
              <p> Total to pay <span class="input">{{ price }} BTC</span></p>
              <div style="clear:both;"></div>
            </div>
            
            <div class="col-sm-4">
              <div id="qrcode" style="margin:0 auto;"></div>
              <p>Please send to: </p><p style="font-size: 1.9vw;">{{ address }}</p>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
        <div class="touch-button">
            
              <a href="/" style="">
                <span>[[ CANCEL ]]</span>
              </a>
            </div>  

      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var canvas = qr.canvas();
  $('#qrcode').append(canvas);
  qr.canvas({ canvas: canvas, value: '{{ qrdata }}', size: 6.1 });

  var attempts = 0;
  function poll() { 
    setTimeout(function() {
      $.ajax({ url: "{{ request_check_url }}",
        success: function(data) { 
          attempts++;
          if (attempts >= 60){ //reduce this
            window.location.replace("http://localhost:5000/");
          }

          if (data.status == 'Paid'){
            console.log("PAYMENT MADE!");
            window.location.replace("http://localhost:5000/serve/{{ offer }}");
          }
        },
        dataType: "json",
        complete: poll
      });
    }, 1000);
  }

  poll();
});
</script>
{% endblock %}
</div>
