{% extends "index.html" %}
{% block content %}

<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-10">

    <h2>Ready to serve! <small style="margin-left:0.5em;"><a href="/">Cancel</a></small></h2>
    <br/>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="touch-button" style="">

          <div class="row">
            <div class="col-sm-6">
              <img src="/assets/espresso.jpeg" style="margin:0 auto; display:block; max-width:200px; min-width:80px; width:70%; height:auto;"></img>
              <h3 style="font-size:3vw; text-align:center; margin-top:0.2em;">1 {{ offer }} is {{ price }}BTC</h3>
              <div style="clear:both;"></div>
            </div>
            
            <div class="col-sm-6">
              <div id="qrcode" style="margin:0 auto;"></div>
              <p style="font-size:3vw;">Please send to: </p><p style="font-size: 1.9vw;">{{ address }}</p>
              <div style="clear:both;"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var canvas = qr.canvas();
  $('#qrcode').append(canvas);
  qr.canvas({ canvas: canvas, value: '{{ qrdata }}', size: 6.5 });
});
</script>
{% endblock %}
</div>