{% extends "index.html" %}
{% block content %}

<div class="row" id="offers">
  <div class="col-sm-offset-1 col-sm-12">

    <p>Ready to serve!</p>
    
    <div class="row">
      <div class="col-sm-10">

        <div class="touch-button">
          <div class="row">
            <div class="col-sm-5">
              <!--<img src="/assets/espresso.jpeg" style="margin:0 auto; display:block; max-width:200px; min-width:80px; width:70%; height:auto;"></img>-->
              <p>Serving <span class="input">1 {{ offer_details["name"] }}</span>.</p>
              <p>This choice will be recorded to determine future supply of coffee.</p>
              <p>Total to pay <span class="input">{{ price }} BTC</span>.</p>
              <div style="clear:both;"></div>
            </div>
            
            <div class="col-sm-5">
              <div id="qrcode" style="margin:0 auto;"></div>
              <p>Please send to: <br/><span style="font-size: 1.9vw;">{{ address }}</span></p>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
        
        <div class="touch-button">
          <a href="/" style="">
          <span>[[ CANCEL ]]</span>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var canvas = qr.canvas();
  $('#qrcode').append(canvas);
  qr.canvas({ canvas: canvas, value: '{{ qrdata }}', size: 6.1 });

  function poll() { 
    setTimeout(function() {
      $.ajax({ url: "{{ request_check_url }}",
        success: function(data) {
          if (data.status == 'Paid'){
            window.location.replace("http://localhost:5000/serve/{{ offer }}?cost={{ price }}");
          } else if (data.status == 'disconnected') { 
            window.location.replace("http://localhost:5000/disconnected/");
          }
        },
        dataType: "json",
        complete: poll
      });
    }, 1500);
  }

  poll();
});
</script>
{% endblock %}
</div>
