{% extends "index.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <p>Thank you.<br/>
    I have now served <span class="input cups">204</span> cups of coffee at an average price of <span class="input">0.206785</span> BTC</p>

    <p>Choices were based on supplies matched for</p>
    <div class="col-sm-10">
      <div class="col-sm-6">Social Responsibility</div>
      <div class="col-sm-5">34.6%</div>
    </div>
    <div class="col-sm-10">
      <div class="col-sm-6">Quality</div>
      <div class="col-sm-5">24.2%</div>
    </div>
    <div class="col-sm-10">
      <div class="col-sm-6">Price </div>
      <div class="col-sm-5">21.8%</div>
    </div>
    <div class="col-sm-10">
      <div class="col-sm-6">Environmental impact</div>
      <div class="col-sm-5">19.4%</div>
    </div>

    <div class="col-sm-10">
     <p><br/><span class="input">Ethiopia Sidamo Medium</span> is currently trending highest in terms of <span class="input">Social Responsibility</span> </p>
     <p>The next supply will be ordered on <span class="input"> 16 Sep 2016</span> </p>
    </div>
  </div>
</div>

<img src="assets/cup_placement.png"/>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var servetime = {{ servetime }};
  var cost = {{ cost }};

  var endServe = function(){  
    window.location.replace("http://localhost:5000/");
  };

  var emptyPoll = function(){
    setTimeout(function(){
      $.ajax({ url: "{{ state_url }}",
        success: function(data){ 
          if (data.overall == 'no_beans'){
            var redirect = "http://localhost:5000/refill/";
            if (cost > 0){ redirect = "http://localhost:5000/payout/{{cost}}?after_scan=/refill"; }
            window.location.replace(redirect);
          }
        },
        dataType: "json",
        complete: emptyPoll
      });
    }, 5000);
  };

  emptyPoll();
  setTimeout(endServe, servetime * 1000);
});
</script>
{% endblock %}
