{% extends "index.html" %}
{% block content %}

<div class="row" id="standby">
  <div class="col-offset-1 col-sm-10">
    <a class="touch-button" href="#">
      On standby, press here to get started.
    </a>
   </div>
</div>

<div class="row" id="warmingup">
  <div class="col-offset-1 col-sm-10">
    <p><span id="msg">Flushing pipes and warming up</span><span class="blink">...</span></p>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
var checkIsFlushing = function(){
  $.ajax({
    url: '/state/',
    success: function(result){
      if(result["overall"] == 'warmup_no_water'){
        $('#msg').text("Attempted to flush pipes but no water available. Continuing warm up");
        setTimeout(function(){ window.location.replace("http://localhost:5000/"); }, 19000);
      }
    }
  });
};

var checkIsReady = function(){
  $.ajax({
    url: '/state/',
    success: function(result){
      if(result["overall"] == 'ready'){
        window.location.replace("http://localhost:5000/");
      }
    }
  });
};

var startWarmup = function(){
  $('#standby').hide();
  $('#warmingup').show();
  $.ajax({
    url: '/press_button/on',
    complete: function(){
      setTimeout(checkIsFlushing,3000);
      setTimeout(checkIsReady,24000);
      setTimeout(function(){ window.location.replace("http://localhost:5000/"); }, 44000);
    }
  });
};

$(document).ready(function(){
  $('#warmingup').hide();  
  $('#standby a').click(startWarmup);  
});
</script>
{% endblock %}
