{% extends "index.html" %}
{% block content %}

<div class="row">
  <div  class="col-offset-1 col-sm-10">
    <p id="warmup"><span id="msg">Steamer is warming up</span><span class="blink">...</span></p>
    <div id="ready" class="row" style="display:none;">
      
      <div clsas="col-sm-6">
        <p>Steamer is ready. Turn the steam knob anti-clockwise to release steam.</p>
      </div>
      <div class="col-sm-4">
        <img style="width:90%;" src="/assets/steamer.png"/>
      </div>

    </div>
    <p id="cooldown" style="display:none;">Cooling down, please wait<span class="blink">...</span></p>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  var timeoot = 0;

  function poll(){
    setTimeout(function() {
      $.ajax({ 
        url: "{{ state_url }}",
        success: function(result){ 
          if (result['overall'] == 'steamer_warmup'){}
          else if (result['overall'] == 'steamer_ready'){
            $('#warmup, #cooldown').hide(); $('#ready').show();
          } else if (result['overall'] == 'warmup'){
            $('#warmup, #ready').hide(); $('#cooldown').show();
          } else { window.location.replace("http://localhost:5000/"); }
        },
        complete: function(){ timeoot = 5000; poll(); } 
      });
    }, timeoot);
  }

  poll();
});
</script>
{% endblock %}
