

{% extends "index.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-10">

        <p> 
          <span id="show_1" style="visibility:hidden">
            [[ Analysing supply chains ]] <span class="blink">...</span><br/>
          </span>
          <span id="show_2" style="visibility:hidden">
            Estimated date of next order <span class="input_u">16 Sep 2016</span>
          </span>
        </p>
        
  </div>
  
  <div class="col-sm-12" id="countries_list">
    <div class="col-sm-12 row">
      <div class="col-sm-1">Country</div><div class="col-sm-1">Climate</div><div class="col-sm-1">WorkC</div><div class="col-sm-1">Politi</div><div class="col-sm-1">Infras</div><div class="col-sm-1">Stabil</div><div class="col-sm-1">Specul</div><div class="col-sm-2">Demand</div><div class="col-sm-1">MainSupply</div><div class="col-sm-1">FairTrade</div>
    </div>
  </div>
  <a class="touch-button" href="/start" id="goToStart">Stop analysis</a>
</div>

{% endblock %}

{% block javascript %}

<script>
  $(document).ready(function(){
  });
</script>

{% endblock %}
