
{% extends "index.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-12">

        <p> 
          <span id="show_1" style="visibility:hidden">
            [[ Analysing supply chains ]] <span class="blink">...</span><br/>
          </span>
          <span id="show_2" style="visibility:hidden">
            Estimated date of next order <span class="input_u">16 Sep 2016</span>
          </span>
        </p>
        
  </div>
  
  <div class="col-sm-12" id="countries_list">
    <div class="col-sm-12 row ">
      <div class="col-sm-1 input_u">Countr</div><div class="col-sm-1 input_u">Climat</div><div class="col-sm-1 input_u">WorkC</div><div class="col-sm-1 input_u">Politi</div><div class="col-sm-1 input_u">Infras</div><div class="col-sm-1 input_u">Stabil</div><div class="col-sm-1 input_u">Specul</div><div class="col-sm-2 input_u">Demand</div><div class="col-sm-2 input_u">MainSup</div><div class="col-sm-1 input_u">FairTrd</div>
    </div>
  </div>
  <a class="touch-button" href="/start" id="goToStart">Stop</a>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="../assets/bitbarista.js"></script>

{% endblock %}
